
video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@supports (object-fit: cover) {
	video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.fullwidth-bg {
	/*position: relative;*/
	height: 100%;
	width: 100%;
	padding-top: 45%;
	overflow: hidden;
	z-index: -100;
}

.fullwidth-bg__video {
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 100%;
}

.video-layer {
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

/*.video-layer h1 {
	text-align: center;
	/*color: #fff;
	font-size: 70px;
	margin-top:17%;
}*/

@media (max-width: 767px) {
	/*video: url(..video.mp4) center center / cover no-repeat;*/
}

.fullwidth-bg__video {
	display: none;
}

nav {
	height: 50px;
	background-color: rgb(17, 17, 17);
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 10px 70px;
	list-style-type: none;
}

.menu_link {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
}

.menu_item {
	border-right: 2px dotted black;
	padding-right: 35px;
}

.menu_item:last-child {
	border-right: none;
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, 0.4);
}

.subheader_logo {
	display: block;
	max-width: 100%;
	display: inline-block;
	margin-top: 12px;
	margin-left: 2px;
}

.subheader_official {
	opacity: 0.5;
	color: #ffffff;
	font-family: "Roboto-Thin";
	font-size: 15px;
	font-weight: 400;
	margin-left: 120px;
	margin-top: 30px;
}

.subheader_call {
	/*display: block;*/
	color: #ffffff;
	font-size: 13px;
	font-weight: 500;
	margin-top: 19px;
	text-align: right;
	line-height: 12px;
}

.subheader_phone {
	display: block;
	margin-top: 12px;
	color: #ffffff;
	font-size: 19px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	line-height: 16px;
}

.subheader_btn {
	display: inline-block;
	margin-top: 15px;
	border-radius: 5%;
	background-color: rgba(0, 0, 0, 0.2);
	border-width: 14px;
	width: 172px;
	height: 56px;
	color: #ffffff;
	transition: 0.3s all;
}

.subheader_btn:hover {
	background-color: #fdec02;
	color: #a003fa;
	border-radius: 5%;
}

.subheader_btn:hover:active {
	background-color: #3eff04;
	border-radius: 5%;
	border-width: 6px;
}

.promo {
	width: 100%;
	min-height: 800px;
	/*background: url("../img/1ekran.png") center center/cover no-repeat;*/

	padding: 170px 0 135px 0;
}

.promo_header {
	
	color: #ee0abd;
	font-family: Roboto;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Roboto-Black";
	font-size: 60px;
	line-height: 24px;
	line-height: 60px;
	margin: 0;
	text-align: center;
}

.promo_subheader {
	color: #df1a1a;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Roboto-Black";
	line-height: 40px;
	margin: 0;
	margin-top: 22px;
	text-align: center;
}

.promo_descr {
	color: #6b0606;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 23px;
}

.promo_btn {
	
	margin: 18px auto 0 auto;
	width: 222px;
	height: 222px;
	border-radius: 50%;
	border-width: 18px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	font-size: 1.8em;
	font-weight: 700;
	transition: 0.3s all;
}

.promo_btn:hover {
	background-color: #FFFF00;
}

.promo_btn:hover:active {
	background-color: #61fa08;
	border-radius: 50%;
	border-width: 6px;
}

.label {
	margin: 0 auto;
	height: 24px;
	width: 112px;
	padding: 5px 12px;
	background-color: #000000;
	color: #ffffff;
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

.title {
	margin-bottom: 0;
	margin-top: 38px;
	color: #210beb;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.subtitle {
	margin-top: 19px;
	color: #222222;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 800;
	text-align: center;
}

.reasons {
	padding: 71px 0 65 0;
}

.reasons_block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.reasons_round {
    /*display: flex;*/
	justify-content: center;
	align-items: center;
	margin-right: 26px;
	width: 113px;
	height: 113px;
	background-color: #1eacc7;
	border-radius: 100%;
}

.reasons_descr {
	width: 343px;
}

.reasons_subtitle {
	line-height: 21px;
	color: #1eacc7;
	font-size: 17px;
	font-weight: 400;
}

.reasons_text {
	color: #202020;
	font-size: 17px;
	font-weight: 300;
	line-height: 21px;
}

.mobile {
	min-height: 864px;
	padding: 48px 0 79px 0;
}

.mobile .row {
	margin-top: 32px;
}

.mobile_item {
	position: relative;
	width: 320px;
	height: 280px;
	margin: 0 auto;
	margin-bottom: 19px;
	padding-top: 92px;
}

	

